@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


.task-cards {
  width: 20%;
  background: white;
  padding: 2vh;
  border-radius: 1vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top: 7px solid #E94944;
  margin-inline: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-cards-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding-block: 1.5vh;
}


.task-cards-header h3 {
  flex: 1;
  margin: 0;

}

.task-cards-header .anticon-more {
  font-size: 25px;
}

.task-cards-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
}


.task-card-data {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  gap: 1vh;
  padding-block: 1vh;
  align-items: center;
  background: #FFEFE5;
  padding-left: 2vh;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  border-radius: 10px;
  margin-block: 1vh;
}

.user-avatar {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0072BC;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
}

.task-card-data span {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 900;
}

.task-card-data::after {
  content: '';
  background: transparent;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-right: 5px solid transparent;
  border-radius: 10px;
}

.task-card-data:nth-child(1)::after {
  border-right-color: #0072BC;
}

.task-card-data:nth-child(2)::after {
  border-right-color: #FCBE04;
}

.task-card-data:nth-child(1) .user-avatar {
  background: #0072BC;
}

.task-card-data:nth-child(2) .user-avatar {
  background: #FCBE04;
}


.task-card-progress-bar {
  height: 10px;
  background: #eee;
  border-radius: 5px;
  margin-top: 2vh;
  position: relative;
  margin-top: 2.5rem;
}

.progress-title {
  position: absolute;
  top: -20px;
  left: 22%;
  transform: translateX(-50%);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #768396;
}

.progress-title span {
  color: black;

}

.progress-bar {
  height: 100%;
  background: #FE7F2E;
  border-radius: 5px;
}






/* 
  .task-cards{
    width: 20%;
    background: white;
    padding: 2vh;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task-cards-header{
    display: flex;
    justify-content: space-between;
    padding-block: 2vh;
}

.task-cards-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
    
}

.task-card-data{
    width:90%;
    height: 1px;
    display: flex;
    gap: 2vh;
    padding-block: 2vh;
    align-items: center;
    background: aliceblue;
    padding-left: 2vh;
}

.task-card-data::after{
    content: '';
    background: aquamarine;
    width: 5px;
    height: 35px;
}

.task-cards-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
    padding-inline: 1vh;
} */