.overall {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-block: 1vh;
}

.overall-main {
    display: flex;
    flex-direction: column;
    width: 23%;
    border: 1px solid lightgray;
    border-radius: 2vh;
    padding-block: 2vh;
}

.overall-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.overall-body-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

p.name-tag {
    border: 1px solid rgba(0, 114, 188, 1);
    padding: 3px 1vh;
    border-radius: 2vh;
    font-size: xx-small;
    margin: 3px;
}

.names {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    color: rgba(0, 114, 188, 1);
}

.overall-head p {
    font-size: small;
}

@media screen and (max-width: 1280px) and (max-height: 720px) and (min-height: 300px) {
    .names {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}