.progressbar-container{
    display: flex;
    border-radius: 5vh;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
    width: 70%;
}

.progress-done{
    color: white;
    padding: 2vh;
    border-radius: 5vh;
    display: flex;
    align-items: center;
    gap: 2vh;
    padding-inline: 4vh;
    width: 55%;
}

.progress-percentage{
    display: flex;
    align-items: center;
}

.progress-percentage h5{
    background: white;
    border-radius: 5vh;
    padding: 1vh;
    padding-inline: 2vh;
    margin: 1vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 800;
}

.progressbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    padding-block: 2vh;
}

.progressbar-body {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 3vh;
}

.progressbar-title{
    color: rgba(118, 131, 150, 1);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1vh;
}

.progressbar-name-tag{
    border: 1px solid lightgray;
    border-radius: 50%;
    padding-inline: 5px;
    font-weight: 800;
    background: antiquewhite;
}